@charset "utf-8";

/******************************************public********************************/
/*reset*/
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
html{overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body,ul,dl,dd,dt,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,img,td,div,input,b,i,cite,em{margin:0;padding:0;border:0;outline:0;font:inherit;vertical-align:baseline;-webkit-tap-highlight-color:rgba(0,0,0,0);}
ul,ol,li{list-style-type:none}
li{vertical-align:0}
h1,h2,h3,h4,h5,h6{ font-weight:normal}
a{outline-style:none;color:#666;text-decoration:none}
a:hover{color:#666; text-decoration:none}
body{background:#f4f4f4;font-family:"Microsoft Yahei";}
body,input,select,textarea{ font-size:14px; font-family:"Microsoft Yahei";outline:none;resize:none;}
object,embed,video{width:100%; border:none;}
img{width:100%; border:none;margin-top:0px;}

/* initial */
.clearfix:after { visibility:hidden; display:block; font-size:0; content:""; clear:both; height:0;}
.clearfix{ *zoom:1;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.block{display: block;}
.inline{display: inline;}
.inline-block{display: inline-block;}

/*font-size*/
html{font-size: 62.5%}
@media screen and (min-width:375px){
    html{font-size:73.24%}
}
@media screen and (min-width:414px){
    html{font-size:80.86%}
}
@media screen and (min-width:481px){
    html{font-size:94%}
}
@media screen and (min-width:561px){
    html{font-size:109%}
}
@media screen and (min-width:641px){
    html{font-size:125%}
}